{{- if contains "wsl" (lower .chezmoi.kernel.osrelease) }}os:
  browser: "wslview"{{- end }}
gui:
  returnImmediately: true
  containerStatusHealthStyle: icon
customCommands:
  containers:
    - name: fzf logs
      shell: true
      attach: true
      command: 'docker logs {{ "{{ .Container.ID }}" }} 2>&1 | fzf --ansi'
  images:
    - name: inspect
      shell: true
      attach: true
      command: 'docker inspect {{ "{{ .Image.ID }}" }} | $PAGER'
  volumes:
    - name: browse content
      shell: true
      attach: true
      command: 'docker run --rm -it -v "{{ "{{ .Volume.Name }}:/data" }}" martonendredi/nnn-explorer:latest -dHiU /data'
  networks:
    - name: attach container
      shell: true
      attach: true
      command: >
        docker network connect "{{ "{{ .Network.Name }}" }}" "$(docker ps --all --format json | jq -r -s 'map(select(.Networks | split(",") | index("test") | not)) | .[] | [.Names, .Image, .ID] | @tsv' | column -t -s $'\t' | fzf --preview 'docker container inspect {1} | jq --color-output ".[]"' --preview-window=up --accept-nth=1 --bind 'ctrl-alt-j:preview-down' --bind 'ctrl-alt-k:preview-up')"
